<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Базовая страница</title>
</head>
<body>
<form action="" method="post">
    {% csrf_token %}
    <label for="common_interface_field"></label>
    {% if user_name %}
        <input id="main_field" type="password" name="main_field" maxlength="50">
        <input type="hidden" value={{ user_name }} name="ex_user_name" >
    {% else %}
        <input id="main_field" type="text" name="main_field" maxlength="50">
    {% endif %}
    <p>
        <input type="submit" value="Enter">
    </p>
</form>
</body>
</html>