{% extends 'index.html' %}
{% block content %}
<form action="" method="get">
    <label for="common_interface_field"></label>
    <input type="text" name="find" maxlength="50">
    <input type="submit" value="Поиск">
</form>
<form action="{% url "note_add" %}">
<button type="submit">ADD</button>
</form>
    <hr>
<p>Список заметок.</p>
<p>
{% if note_list %}
{% for note in note_list %}
<p>
<a href="{% url "note_detail" pk=note.pk %}">{{ note.title }}</a>
{{ note.keys }}
{{ note.text_body }}
</p>
{% endfor %}
{%  else %}
<p>Поиск результатов не дал</p>
{% endif %}
</p>
{% endblock %}